<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>MFTK Back Office</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar navbar-default navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MFTK Martial Arts Academy</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="aviator" href="/curriculum-log/">Curriculum Log</a></li>
          <li><a class="aviator" href="/student-sign-in/">Student Sign-In</a></li>
          <li><a class="aviator" href="/disciplinary-note/">New Disciplinary Note</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="aviator" href="/admin/accounts/">Accounts</a></li>
          <li><a class="aviator" href="/admin/students/">Students</a></li>
          <li><a class="aviator" href="/admin/classes/">Classes</a></li>
          <li><a class="aviator" href="/logout/">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid" id="spa-target">
    </div>
  </body>
</html>
