<div class="panel panel-default">
  <div class="panel-heading clearfix">
    Attendance Records
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Class Start Time</th>
        <th>Sign in Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      {{#attendance}}
        <tr>
          <td>{{division.name}}</td>
          <td>{{time division.startTime}}</td>
          <td>{{date signInTime format="L LT"}}</td>
          <td>{{status}}</td>
        </tr>
      {{/attendance}}
      {{^attendance}}
        <td colspan="4">No attendance records found.</td>
      {{/attendance}}
    </tbody>
  </table>
</div>

<div>
  <a href="/admin/students/" class="btn btn-default aviator">Back</a>
</div>
