<div class="panel panel-default">
  <div class="panel-heading clearfix">
    Attendance Records for <a href="/admin/students/{{id}}/" class="aviator">{{firstName}} {{lastName}}</a>
  </div>
  <div id="calendar" style="margin: 1em;"></div>
</div>

<div>
  <a href="/admin/students/" class="btn btn-default aviator">Back</a>
</div>
