<div class="container">
  <form>
    <div class="form-group">
      <label for="">Current Time:</label>
      <div class="current-time">{{currentTime}}</div>
    </div>
    <div class="form-group">
      <label for="">Current Class:</label>
      <div class="current-class">--</div>
    </div>
    <div class="form-group">
      <label for="">Student:</label>
      <select class="student-select" style="width: 100%"></select>
    </div>
    <div class="form-group">
      <a id="btnSignIn" href="/student-sign-in/sign-in/" class="btn btn-lg btn-primary aviator" disabled="disabled">Sign In</a>
    </div>
  </form>

  <div id="signedInStudents"></div>
</div>
