<div class="container">
  <div class="row">The current time is: <span class="current-time">{{currentTime}}</span></div>
  <div class="row">The current class is: <span class="current-class">--</a></div>
  <div class="row"><select class="student-select" style="width: 100%"></select></div>
  <div class="row"><a href="/student-sign-in/sign-in/" class="btn btn-lg btn-primary aviator">Sign In</a></div>
</div>
