<div class="panel panel-default">
  <div class="panel-heading clearfix">
    Active Account Emails Report
  </div>
  <div class="panel-body">
    <code>
    {{#.}}
    {{firstName}} {{lastName}} &lt;{{email}}&gt;;
    {{/.}}
    </code>
  </div>
</div>
