<div class="container">
  <div class="row"><select class="student-select" style="width: 100%"></select></div>
  <div class="row"><select class="instructor-select" style="width: 100%"></select></div>
  <div class="row"><textarea class="note"></textarea></div>
  <div class="row"><a href="/disciplinary-note/create/" class="btn btn-lg btn-primary aviator">Create</a></div>
</div>
